<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/asserts/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/vendor/elegantIcons/elegant-icons-style.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body style="background: url('/asserts/image/bg-1.jpg') no-repeat center center fixed; background-size: cover;">
<div class="container">
    <form class="login-form" id="login_form">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input name="email" type="email" class="form-control" placeholder="邮箱" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input name="password" type="password" class="form-control" placeholder="密码" required>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">登录</button>
            <button id="register" class="btn btn-info btn-lg btn-block" type="button">注册</button>
        </div>
    </form>

</div>
<script th:src="@{/asserts/vendor/jquery/jquery.js}"></script>
<script th:src="@{/asserts/vendor/jquery/jquery-form.js}"></script>

<script>
    $(function () {
        $('#login_form').ajaxForm({
            url: '/login',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code == 200) {
                    location = "/";
                } else {
                    alert("用户名或者密码错误！")
                }
            },
            error: function (err) {
                alert("未知的错误!");
            }
        });
    })
</script>
</body>

<script>
    $("#register").click(function () {
        location = "/user/register";
    });
</script>
</html>